.genInfoBox{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
}
.genInfoBoxImg{
    height: 60vh;
    width: 22vw;
}

.genInfoBoxText
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.genInfoBoxText div{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
}
.genInfoBoxTextHeading{
    font-size: 4vw;
    font-family: 'nibpro2';
}
.genInfoBoxTextPara{
    font-family: 'favorit';
}
.genInfoBoxRoller{
    display: flex;
}